.paddingClass {
  padding-left: 30px;
  padding-right: 30px;
}

.lastImages {
  height:auto;
  width: 100%;
  max-width: 229px;
}

.padding {
  padding: 10px;
}

.postImg {
  width: 100%;
  height: auto;
}

hr {
  opacity: 0.5;
}

.carouselImage {
  width: 100%;
  height: auto;
  padding-left:10px;
  padding-right:10px;
}