.paddingClass {
  padding-left: 30px;
  padding-right: 30px;
}

.lastImages {
  max-width: 300px;
  max-height:350px;
}

.padding {
  padding: 30px;
}

.postImg {
  max-width: 820px;
  max-height:450px;
}

hr {
  opacity: 0.5;
}