.imageBackgroundLogin {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/registerBackground.jpg");
  height: 90vh;
}

.gridFormOnly {
  min-height: 70vh;
}

.birthDateSelect {
  padding-right: 15px !important;
}
